html {
  height: 100%;
}

body {
  background-color:F0FFF0;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px dotted black;
  padding: 10px 10px 10px 10px
  font-family: sans-serif;
}

h1 {

}

h2 {

}

h3 {

}

p {

}

a {

}

nav {
}
