html {
  height: 100%;
}

body {
  background-color:F0FFF0;
  margin 40px;
  border: 5px dashed black;
  padding: 25px;
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
  color: maroon;
}

h2 {
  text-align: center;
  color: maroon;
}

h3 {
  text-align: center;
  color: gray;
  border-bottom: 1px solid black;
  border-top: 1px solid black
}

#para1 {
  text-align: center;
  color: maroon;
}

p.bitches, .madames, .Maidens {
  color: maroon;
  font-family: cursive;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.image {
  width: 200px;
  height: 10%;
}
