html {
  height: 100%;
}

body {
  background-color:F0FFF0;
  margin 40px;
  border: 5px dashed black;
  padding: 25px 25px 25px 25px
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
  color: maroon;
}

h2 {
  text-align: center;
  color: maroon;
}

h3 {
  text-align: center;
  color: gray;
  border-bottom: 1px solid black;
  border-top: 1px solid black
}

#para1 {
  text-align: center;
  color: maroon;
}

p.bitches, madames, maidens {
  color: maroon;
  font-family: cursive;
}

{

}
